*{
	font-family: 'Noto Serif', serif;
}
/*
.all {
	width: 1050px; 
	height: 975px;
	background-color: lightpink;
	border-radius: 10px;
}
*/
body {
	color:#000;
	width: 1024px;
	padding-left: 8%;
	padding-top: 2%;
}
li {
	display: inline-grid;
	list-style-type: none;
	text-align: right;
	float: right;
}

  a {
  display: block;
  width: 75px;
  padding: 9px 5px;
  border-radius: 0px;
  margin: 20% auto;
  background-color: #339966;
  text-align: center;
  font-family: Helvetica;
  font-size: 15px;
  color: MintCream;
  transition-property: background-color;
  transition-duration: 750ms;
  float: right;
  text-decoration: none;
}

a:hover {
  background-color: orange;
}

#name {
	font-size: 30px;
}

#doc {
	display: inline;
	background-color: lightblue;
	display: block;
	text-decoration: none;
	width: 120px;
	font-size: 15px;
	height: 16px;
	float: left;
	border-radius: 20px;
	margin: 40px 3px;
}

#doc:hover {
	background-color: purple;
}

.grid {
  border-color: red;
  display: grid;
  height: 300px;
  width: 1024px;
  grid-template-columns: 50% 50%;
  grid-template-rows: 250px 250px;
  grid-row-gap: 10px;
  grid-column-gap: 25px; 
  padding-top: 100px;
  
}

.p {
	height: 190px;
	width: 190px;
	padding-left: 200px;
	position: center;
}

.t {
	background-color: green;
	color: white;
	font-weight: bold;
	font-size: 40px;
	float: left;
}

.box {
   color: black;
  border-radius: 5px;

 
}

.i {
	width: 40px;
	height: 40px;
	float: left;
}



span {
  
}

.item {
 
}

.c {
	display: inline;
	border-radius: 5px;
	background-color: green;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
	color: white;
	font-size: 15px;

}

.image {
	padding-top: 15%;
	padding-left: 20%
}
/*
.cont {
	float: right;
	text-align: left;
}
.b {
	font-size: 30px;
	text-align: left;
}*/

.grid1 {
  border-color: red;
  display: grid;
  height: 400px;
  width: 1024px;
  grid-template-columns: 7% 43% 7% 43%;
  grid-template-rows: 200px 200px;
  grid-row-gap: 10px;
  grid-column-gap: 15px; 
  padding-top: 10px;
  
}

p.f {
	text-align: justify;
	font-family: serif;
	width: 450px;
}

p {
	text-align: justify;
	font-family: serif;
	width: 390px;
}

footer {
	color: blue;
	width: 1024px;
}

.grid2 {
  border-color: red;
  display: grid;
  height: 400px;
  width: 1024px;
  grid-template-columns: 7% 43% 7% 43%;
  grid-template-rows: 200px 200px;
  grid-row-gap: 10px;
  grid-column-gap: 15px; 
  padding-top: 10px;
 
}